<div class="card" style="width: 75%; text-align: center; padding: 40px; border: 1px solid #ccc; background-color: #f8f9fa; border-radius: 10px;  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);">
    <div class="card-body" >
        <h1 class="card-title" style="padding-bottom     20px;">Welcone to Alpha Blog</h1>
        <p class="card-text">Welcome to our blog application, where ideas come to life through words. 
            Whether you're a seasoned writer or a budding blogger, our platform provides a creative 
            space to share stories, insights, and experiences with the world. Join us as we embark on 
            a journey of inspiration and self-expression.
        </p>
        <div style="display: flex; justify-content: center;">
            <%= link_to 'Sign Up Now !', signup_path, class: 'btn btn-success m-3' %>
            <%= link_to 'View all Articles', articles_path, class: 'btn btn-success m-3' %>
        </div>
        
    </div>
</div>


